@import "styles.scss";

.product {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  transition: padding 0.2s;
}

.product__content {
  display: grid;
  flex-direction: column;
  grid-template:
    "gallery"
    "checkout";
  // "overview"
  // "specs"
  // "reviews";
  max-width: $lyt-large;
  width: 100%;
  padding-bottom: 24px;
  transition: gap 0.2s;
  gap: 16px;

  > * > hr {
    border-width: 6px;
  }

  > *:last-child > hr {
    display: none;
  }

  > * > [class*="content"] {
    padding: 0 $lyt-padding;
  }
}

// Checkout
.product__checkout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: checkout;
}

.product__checkout__content {
  display: flex;
  flex-direction: column;
}

.product__checkout__name {
  margin-bottom: 8px;
  line-height: 1.75rem;
}

.product__checkout__ranking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product__checkout__pricing {
  display: flex;
  margin-bottom: 16px;
  gap: 12px;
}

.product__checkout__pricing__old {
  text-decoration: line-through;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $clr__darkgray;
}

.product__checkout__desc {
  margin-bottom: 16px;
}

.product__checkout__colors {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 12px;
}

.product__checkout__colors ul {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  // grid-auto-rows: 32px;
  // gap: 12px;
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
}

.product__checkout__sizes {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 12px;
}

.product__checkout__sizes ul {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(100px, auto));
  // grid-auto-rows: 32px;
  // gap: 12px;
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
}

.product__checkout__content > hr {
  margin-bottom: 16px;
}

.product__checkout__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 12px;
}

.product__checkout__quantity > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product__checkout__nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.product__checkout__title {
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  color: $clr__darkgray;
}

@keyframes hoverAnimation {
  0% {
    border-color: $clr__lightgreen;
  }

  100% {
    border-color: $clr__gray;
  }
}

// Overview
.product__overview {
  display: flex;
  flex-direction: column;
  grid-area: overview;
  gap: 16px;
}

// Specification
.product__specs {
  display: flex;
  flex-direction: column;
  grid-area: specs;
  gap: 16px;
}

.product__specs ul {
  list-style-type: none;
}

.product__specs ul li {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

// Reviews
.product__reviews {
  display: flex;
  flex-direction: column;
  grid-area: reviews;
  gap: 16px;
}

@media (min-width: $lyt-medium) {
  $lyt-padding: 40px;

  .product {
    padding: 0 $lyt-padding;
  }

  .product__content {
    grid-template: "gallery checkout";
    // "overview checkout"
    // "specs checkout"
    // "reviews reviews";
    grid-template-columns: 5fr 3fr;
    padding: 24px 0 32px;
    gap: 24px 32px;

    > * > hr {
      display: none;
    }

    > * > [class*="content"] {
      padding: 0;
    }
  }
}

@media (min-width: $lyt-large) {
  .product__content {
    gap: 24px 40px;
  }
}
