@import "styles.scss";

.color-input {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  background-color: $clr__white;
  min-height: 32px;

  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.color-input span {
  flex-shrink: 0;
  width: 32px;
}

.color-input:not([class*="checked"]) div:hover {
  animation: hoverAnimation 0.4s infinite alternate;
}

.color-input_checked div {
  background-color: $clr__lightgreen;
  color: $clr__white;
  border-color: $clr__lightgreen !important;
  border-left: 1px solid $clr__gray !important;
}

.color-input div {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid $clr__gray;
  justify-content: center;
  align-items: center;
}
