@import "styles.scss";

.color-input {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  background-color: $clr__gray;
  min-height: 32px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  list-style-type: none;
  cursor: pointer;
}

.color-input input {
  all: unset;
  flex-shrink: 0;
  margin-right: 1px;
  width: 32px;
}

.color-input input:not(:checked):hover {
  animation: hoverAnimation 0.4s infinite alternate;
}

.color-input input:checked {
  border-color: $clr__lightgreen;
}

.color-input span {
  flex-grow: 1;
  border: 1px solid $clr__gray;
  background-color: $clr__gray;
  background-color: $clr__white;
  padding: 0 8px;
}
