@import "styles.scss";

.quantity {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 96px;
  overflow: hidden;
}

.quantity button {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

.quantity button:focus-visible {
  border: 1px solid $clr__lightgreen;
  height: 30px;
  width: 30px;
}

.quantity input {
  all: unset;
  z-index: 1;
  position: absolute;
  border: 1px solid $clr__gray;
  border-radius: 16px;
  background-color: $clr__white;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $clr__black;
  cursor: text;
  text-align: center;
}

.quantity:hover > input:not(:focus) {
  border: 1px solid $clr__darkgray;
}

.quantity input:focus {
  border-color: $clr__lightgreen;
}

.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
  appearance: none;
}
