@import "styles.scss";

.size-input {
  all: unset;
  display: flex;
  position: relative;
  min-height: 32px;
  padding: 0 12px;
  border: 1px solid $clr__gray;
  border-radius: 2px;
  background-color: $clr__white;
  color: $clr__black;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.size-input_checked {
  border-color: $clr__lightgreen;
  background-color: $clr__lightgreen;
  color: $clr__white;
}

.size-input:not([class*="checked"]):hover {
  animation: hoverAnimation 0.4s infinite alternate;
}
