$clr__white: hsla(0, 0%, 100%, 1);
$clr__black: hsla(0, 0%, 0%, 1);
$clr__lightgray: hsla(0, 0%, 96%, 1);
$clr__gray: hsla(0, 0%, 88%, 1);
$clr__lightgreen: hsla(112, 8%, 40%, 1);
$clr__green: hsla(140, 12%, 24%, 1);
$clr__darkgray: hsl(0, 0%, 80%);
$clr__dirt: hsla(214, 9%, 16%, 1);
$clr__error: hsla(2, 72%, 56%, 1);

$txt__black: hsla(0, 0%, 0%, 1);
$txt__gray: hsla(0, 0%, 0%, 1);

$clr__hover: hsla(0, 0%, 0%, 0.16);
$bdr__striped: 2px dashed $clr__gray;
$stl__corners: 2px;

$lyt-small: 320px;
$lyt-medium: 765px;
$lyt-large: 1080px;
$lyt-margin: 16px;
$lyt-padding: 20px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  text-decoration: none;
  box-sizing: border-box;
}

html,
body,
.App {
  width: 100%;
  min-height: 100vh;
}

.App {
  display: flex;
  background-color: $clr__lightgray;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  flex-direction: column;
  scroll-behavior: smooth;
  font-smooth: auto;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

a {
  all: unset;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: $clr__gray;
}

b {
  font-weight: 500;
}

.wip {
  display: flex;
  width: 100%;
  height: 100%;
  border: $bdr__striped;
  color: $clr__gray;
  font-size: 1.25rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

@media (min-width: $lyt-medium) {
  $lyt-margin: 24px;
  $lyt-padding: 40px;
}

@media (min-width: $lyt-large) {
}
