@import "styles.scss";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 100;
}

.header__topbar {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 0 0 0 $lyt-padding;
  transition: background-color 0.2s ease-out, padding 0.2s;
  background: $clr__green;
  color: $clr__white;
  justify-content: center;
}

.header__topbar_clear {
  background: unset;
}

.header__topbar__content {
  display: grid;
  width: 100%;
  max-width: $lyt-large;
  align-items: center;
  grid-auto-flow: column;
}

.header__topbar__item {
  display: flex;
  width: fit-content;
  align-items: center;
}

.counter {
  position: relative;
}

.counter span {
  display: flex;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: $clr__lightgreen;
  color: $clr__white;
  font-size: 12px;
  font-weight: 500;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.header__topbar__hamburger {
  display: flex;
  padding: 16px $lyt-padding 16px 16px;
  justify-self: flex-end;
}

.header__topbar__hamburger:hover,
.header__topbar__hamburger:active {
  background-color: $clr__lightgreen;
}

.header__topbar__hamburger__icon {
  width: 24px;
  height: 24px;
}

.header__topbar__menu {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header__topbar__profile {
  display: none;
  justify-content: flex-end;
  align-self: center;
  gap: 24px;
}

.header__sidebar {
  display: flex;
  position: fixed;
  top: 56px;
  right: -256px;
  bottom: 0;
  width: 100%;
  max-width: 256px;
  padding: 16px 0 24px;
  transition: right 0.2s ease-out;
  background-color: $clr__lightgray;
  color: $clr__black;
  z-index: 100;
  flex-direction: column;
}

.header__sidebar_open {
  right: 0;
}

.header__sidebar__menu {
  height: 100%;
}

.header__sidebar__item {
  display: flex;
  padding: 16px 40px 16px 32px;
  align-items: center;
  gap: 12px;
}

.header__sidebar__item:hover,
.header__sidebar__item:active {
  background-color: $clr__hover;
}

.header__sidebar__item img {
  filter: brightness(0);
}

.header__fade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
  background-color: hsla(0, 0%, 0%, 0.16);
  opacity: 0;
  visibility: hidden;
}

.header__fade_open {
  opacity: 1;
  visibility: visible;
}

@media (min-width: $lyt-medium) {
  $lyt-padding: 40px;

  .header__topbar__menu,
  .header__topbar__profile {
    display: flex;
  }

  .header__topbar__hamburger,
  .header__sidebar,
  .header__fade {
    display: none;
  }

  .header__topbar {
    padding: 0 $lyt-padding;
  }
}
